/* gilroy-medium - latin */
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: medium;
    src: local(''),
         url('../fonts/Gilroy-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Gilroy-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* gilroy-bold - latin */
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    src: local(''),
         url('../fonts/Gilroy-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Gilroy-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #070707;
}
.wrapper {
    max-width: 944px;
    margin: 0 auto;
}
/* header styles start */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 33px;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.header-item {
    margin-right: 118px;
    margin-left: 0;
}


.header-link {
    font-size: 18px;
    line-height: 22px;
    color:#828282  ;
    text-decoration: none;
}  
#header-link-bold {
    font-weight: bold;
    color: #070707;
    
}
/* header styles end */
/* intro styles start */
.intro {
    height: 100%;
    background: #FFFFFF;
    background-size: cover;
    padding-top: 128px;
}
.flex-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.intro-title {
    max-width: 124px;
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 47px;
    line-height: 59px;
    color: #070707;
    text-align: center;
}
.intro-text {
    max-width: 156px;
    max-height: 44px;
    font-family: 'Gilroy';
    font-weight: medium;
    font-size: 18px;
    line-height: 22px;
    margin-left: 297px;
    margin-right: 347px;
    position: inherit;
}

.intro-jpg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* intro styles end */
/* about styles start */
.about {
    margin-top: 105px;
}
.abme {
    background-color: #F6F6F6;
    height: 506px;
    align-items: center;
}
.aboutme {
    max-width: 1445px;
    padding-top: 120px;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 18px;
}
.denis {
    max-width: 1445px;
    max-height: 43px;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    text-align: center;
    margin-left: 480px;
    margin-right: 479px;
}
/* about styles end*/
/* programs styles start*/
.skills {
    padding-top: 91px;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}
.such-programs {
    padding-top: 69px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.pics {
    padding-top: 83px;
    display: flex;
    padding-bottom: 110px;
}
.pic1, .pic2, .pic3, .pic4 {
    margin-left: auto;
    margin-right: 90px;
}
.pics :first-child {
    margin-left: 256px;

}
.pics :last-child {
    margin-right: 253px;
}
/* programs styles end*/
/* portfolio styles */
.portfolio {
    width: 100%;
    
}
.portf {
    background-color: #F6F6F6;
    height: 2253px;
    
}
.p {
    padding-top: 113px;
    font-size: 34px;
    line-height: 42px;
    font-weight: bold;
    padding-bottom: 47px;
    margin-left: 420px;
}
.pictures {
    width: 100%;
    display: block;
    margin-left: 257px;
    align-items: center;
}
    
.pict3 {
    margin-bottom: 164px;
}
.sub1, .sub2, .sub3 {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
}
.sub1 {
    margin-left: 340px;
    padding-top: 45px;
    padding-bottom: 99px;
}
.sub2 {
    margin-left: 365px;
    padding-top: 45px;
    padding-bottom: 99px;
}
.sub3 {
    margin-left: 370px;
    padding-top: 46px;
    padding-bottom: 210px; 
}
/* portfolio styles end */
/* contacts styles start */
.contacts {
text-align: center;
} 
.contacts-title {
    padding-top: 114px;
    padding-bottom: 20px;
    font-size: 34px;
    line-height: 42px;
    font-weight: bold;
}
.button {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: space-around;
    margin-top: 30px ;
}
.b {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    color: #FFFFFF;
    background: #070707;
    border-radius: 100px;
    height: 42px;
    width: 180px;
    text-decoration: none;
    font-size: 18px;
}
/* contacts styles end */
/* networks styles start */
.networks {
    display: flex;
    justify-content: center; 
    align-items: flex-start;   
    margin-top: 86px;
    gap: 61px;
}
/* networks styles end */
/* footer styles start */
.footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-height: 34px;
    margin-bottom: 123px;
    gap: 5px;
    text-align: center;
    padding-top: 45px;
    color: #828282;
}
/* footer styles end */